<h1> My Portfolio </h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <div>
    <h2><%= link_to item.title, portfolio_show_path(item) %></h2>
    <p><%= item.subtitle %></p>
    <p><%= item.body %></p>
    <%= image_tag item.main_image if item.main_image.present? %>
    <%= image_tag item.thumb_image if item.thumb_image.present? %>
    <%= link_to "Edit", edit_portfolio_path(item) %>
    <%= button_to "Delete", portfolio_path(item), method: :delete, data: { turbo_confirm: 'Are you sure?'} %>
  </div>
<% end %>
